# CMake
build/
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# Thrift
gen-cpp/
gen-py/

# Draft
__*.md

# C/C++
*.dSYM

# Executable
sniffex

# Doc
docs/_build/

# Misc
.DS_Store
.idea
